* {
    font-family: Arial, Helvetica, sans-serif;
}

.ingredients {
    color: green;
}

.ingredients.contents {
    color: red;
}

.steps {
    color: blue;
}  

.steps.contents {
    font-weight: 800;
    align-items: center;
    color: rgb(63, 241, 241);
}